---
import { getFooterData } from '@lib/navigation';
const currentLocale = Astro.params.locale || 'en';
import Logo from '@components/AppLogo/AppLogo.astro';

const footerData = await getFooterData(currentLocale);
const { links, socialLinks, footNote, secondaryLinks, logo } = footerData;
import { Icon } from 'astro-icon/components';
---

<footer id="daisy" class="footer bg-base-200 text-base-content p-10">
  {
    links.map(({ title, links: subLinks }: any) => (
      <nav>
        <h6 class="footer-title">{title}</h6>
        {subLinks &&
          Array.isArray(subLinks) &&
          subLinks.map(({ text, href, ariaLabel }: any) => (
            <a class="link link-hover" href={href} aria-label={ariaLabel} set:html={text} />
          ))}
      </nav>
    ))
  }
</footer>
<footer class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4">
  <aside class="grid-flow-col items-center">
    <Logo />

    <div>
      <div class="text-sm opacity-60" set:html={footNote} />
      {
        secondaryLinks.length > 0 && (
          <div class="text-sm flex gap-2 mt-2">
            {secondaryLinks.map(({ text, href }: any, index: number) => (
              <>
                {index !== 0 ? <span class="opacity-40">·</span> : ''}
                <a class="link link-hover" href={href} set:html={text} />
              </>
            ))}
          </div>
        )
      }
    </div>
  </aside>
  {
    socialLinks?.length ? (
      <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
          {socialLinks.map(({ ariaLabel, href, text, code }: any) => (
            <a class="btn btn-ghost btn-square" aria-label={ariaLabel} href={href}>
              <Icon name={`iconoir:${code}` as const} size="30" />
            </a>
          ))}
        </div>
      </nav>
    ) : null
  }
</footer>
